.a_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #292929;
    font-size: 32px;
}
.a_description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #292929;
    font-size: 18px;
}