
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid blue;
    border-right: 6px solid green;
    border-bottom: 6px solid red;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*button #4396F8  #3871E1*/
.cardDesign{
    background: #4396F8
}
.login-form{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 10rem;
    text-align: center;
}

.topContentMargin{
    margin-top: 8rem;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 38px;
}
.subTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
}
.cardTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #292929;
    font-size: 32px;
}
.cardSubTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #292929;
    font-size: 18px;
}
.sideMenuTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #292929;
    font-size: 18px;
    padding: 5px;
}

.noticeCard{
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

.topContentCard{
    color:"white";
    background-color: "blue";
    margin: 2rem;
}