
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid blue;
    border-right: 6px solid green;
    border-bottom: 6px solid red;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.topCardDesign{
    border-radius: 2px;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(110, 114, 118, 0.2);
}


.primaryCardDesign{
    border-radius: 2px;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(110, 114, 118, 0.2);
}

.primaryCardHeader{
    font-family: 'Montserrat', sans-serif;
    color: #292929;
}

.primaryCardBody{
    font-family: 'Raleway', sans-serif;
    color: #7F7E7E;
}

.primaryCardDesign:hover{
    box-shadow: 0 0 16px 0 rgba(110, 114, 118, 0.2);
}

.link:hover{
    color: #ffffff;
}

.profileText{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.emptyScreenText{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
